.portfolio__items {
    padding: get-m-vw(80px) 0;

    @include mediaSize(tablet) {
        padding: get-t-vw(80px) 0;
    }

    @include mediaSize(desktop) {
        padding: get-vw(80px) 0;
    }
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:first-child) {
        padding-top: get-m-vw(30px);
        margin-top: get-m-vw(30px);
        border-top: 1px solid rgba(109, 120, 132, 0.1);

        @include mediaSize(tablet) {
            padding-top: get-t-vw(50px);
            margin-top: get-t-vw(50px);
        }

        @include mediaSize(desktop) {
            padding-top: get-vw(60px);
            margin-top: get-vw(60px);
        }
    }

    @include mediaSize(tablet) {
        flex-direction: row;
    }
}

.portfolio__img_background {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: get-m-vw(233px);
    border-radius: 10px;

    @include mediaSize(tablet) {
        width: 48%;
        height: get-t-vw(233px);
    }

    @include mediaSize(desktop) {
        height: get-vw(333px);
        border-radius: get-vw(10px);
    }

    &.dark-blue {
        background-color: #006681;
    }

    &.blue {
        background: #56ccf2;
    }

    &.pink {
        background: #ffd3d6;
    }
}

.portfolio__img {
    width: get-m-vw(300px);
    height: get-m-vw(200px);
    object-fit: cover;

    @include mediaSize(tablet) {
        width: get-t-vw(300px);
        height: get-t-vw(200px);
    }

    @include mediaSize(desktop) {
        width: get-vw(450px);
        height: get-vw(300px);
    }
}

.portfolio__img_link {
    position: absolute;
    inset: 0;
}

.portfolio__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: get-m-vw(30px);

    @include mediaSize(tablet) {
        width: 48%;
        padding-top: 0;
    }
}

.portfolio__title {
    @extend %main-title;

    padding-bottom: get-m-vw(8px);
    font-size: get-m-vw(18px);
    cursor: default;

    &:hover {
        color: $colorRed;
    }

    @include mediaSize(tablet) {
        padding-bottom: get-t-vw(8px);
        font-size: get-t-vw(18px);
    }

    @include mediaSize(desktop) {
        padding-bottom: get-vw(8px);
        font-size: get-vw(24px);
    }
}

.portfolio__services {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: get-m-vw(12px);

    @include mediaSize(tablet) {
        padding-bottom: get-t-vw(12px);
    }

    @include mediaSize(desktop) {
        padding-bottom: get-vw(12px);
    }
}

.portfolio__service {
    @extend %main-text;

    padding: get-m-vw(6px);
    margin-right: get-m-vw(8px);
    margin-bottom: get-m-vw(8px);
    font-size: get-m-vw(14px);
    color: $colorWhite;
    border-radius: get-m-vw(4px);

    @include mediaSize(tablet) {
        padding: get-t-vw(6px);
        margin-right: get-t-vw(8px);
        margin-bottom: 0;
        font-size: get-t-vw(14px);
        border-radius: get-t-vw(4px);
    }

    @include mediaSize(desktop) {
        padding: get-vw(6px);
        margin-right: get-vw(8px);
        font-size: get-vw(14px);
        border-radius: get-vw(4px);
    }

    &.web {
        background: rgba(48, 102, 209, 0.5);
    }

    &.support {
        background: rgba(30, 200, 158, 0.7);
    }

    &.design {
        background: rgba(109, 120, 132, 0.6);
    }

    &.admin {
        background: rgba(255, 70, 83, 0.4);
    }
}

.portfolio__url {
    display: inline-block;
    padding-bottom: get-m-vw(12px);
    color: $colorBlue;

    &:hover {
        color: $colorRed;
        text-decoration: underline;
    }

    @include mediaSize(tablet) {
        padding-bottom: get-t-vw(12px);
    }

    @include mediaSize(desktop) {
        padding-bottom: get-vw(12px);
    }
}

.portfolio__text {
    padding-bottom: get-m-vw(8px);

    @include mediaSize(tablet) {
        padding-bottom: get-t-vw(8px);
    }

    @include mediaSize(desktop) {
        padding-bottom: get-vw(8px);
    }
}

.portfolio__check-case {
    display: flex;
    height: max-content;
    padding-bottom: get-m-vw(30px);

    @include mediaSize(tablet) {
        padding-bottom: get-t-vw(30px);
    }

    @include mediaSize(desktop) {
        padding-bottom: get-vw(30px);
    }

    &:hover {
        .portfolio__check-case_text {
            color: $colorRed;
        }

        .portfolio__icon {
            color: $colorRed;
        }
    }
}

.portfolio__check-case_text {
    padding-right: get-m-vw(16px);
    color: $colorBlue;

    @include mediaSize(tablet) {
        padding-right: get-t-vw(16px);
    }

    @include mediaSize(desktop) {
        padding-right: get-vw(16px);
    }
}

.portfolio__icon {
    width: get-m-vw(26px);
    height: get-m-vw(20px);
    color: $colorBlue;

    @include mediaSize(tablet) {
        width: get-t-vw(26px);
        height: get-t-vw(20px);
    }

    @include mediaSize(desktop) {
        width: get-vw(26px);
        height: get-vw(20px);
    }
}
