.trust {
    padding: 0;

    @include mediaSize(tablet) {
        padding: 0 get-t-vw(20px);
    }

    @include mediaSize(desktop) {
        padding: 0 get-vw(80px);
    }
}

.trust__item {
    position: relative;
    margin: auto;
}

.trust__overlay {
    position: absolute;
    inset: 0;
    background: #3c3c3b;
    border-radius: get-vw(10px);
    opacity: 0.3;
}

.trust__img {
    width: 100%;
}
